{{define "Index"}}
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" href="static/vendor/bootstrap.min.css">
</head>
<body>
        <h1>Selamat datang di Golang Static File</h1>
        <ul>
            <li><a href="/">Index</a></li>
            <li><a href="/galeri">Galeri</a></li>
        </ul>

        <script src="static/vendor/jquery.slim.min.js"></script>
        <script src="static/vendor/popper.min.js"></script>
        <script src="static/vendor/bootstrap.min.js"></script>
</body>
</html>
{{ end }}